@model IEnumerable<CongThongTinDienTu.Models.DAO.HopDong>
@{
    ViewBag.Title = "Danh sách hợp đồng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CongThongTinDienTu.Models.DAO.Account account = (CongThongTinDienTu.Models.DAO.Account)Session[CongThongTinDienTu.Utils.CommonConstant.USER_SESSION];
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Hợp đồng</li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Hợp đồng @ViewBag.Year @account.DVQL.TenDayDu</h1>
    </div>
</div>

<div class="panel panel-default">

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8 text-right" style="padding-bottom: 30px">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="exampleInputName2">Năm kí hợp đồng</label>
                        <select class="form-control" id="namkihopdong" onchange="location = this.value;">
                            @{
                                for (int i = 2016; i < DateTime.Now.Year + 1; i++)
                                {
                                    if (i == ViewBag.Year)
                                    {
                                        <option value="/pgd/danhsachhopdong/@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="/pgd/danhsachhopdong/@i">@i</option>
                                    }

                                }
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="downloadexcel();"><span class="glyphicon glyphicon-download"></span> Xuất Excel</button>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover table-responsive" id="danhsachhopdong">
            <thead>
                <tr>
                    <th>Số HD</th>
                    <th>Tên Trường</th>
                    <th>Cấp</th>
                    <th>Quận/Huyện</th>
                    <th>DVQL</th>
                    <th>Ngày Kí</th>
                    <th>Ngày HL</th>
                    <th>HT TT</th>
                    <th>Loại HD</th>
                    <th>Số năm</th>
                    <th>Số Tiền</th>
                    <th>Ngày Đóng</th>
                    
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaHopDong</td>
                            <td>@item.School.TenTruong</td>
                            <td>@item.School.CapTruong.TenVietTat</td>
                            <td>@item.School.Ward.District.Type @item.School.Ward.District.Name</td>
                            <td>@item.School.DVQL.Ten</td>
                            <td>@item.NgayKiHD.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.NgayHieuLucHD.Value.ToString("dd/MM/yyyy")</td>
                            @{
                                if (item.IsThanhToanBangTienMat == true)
                                {
                                    <td>TM</td>
                                }
                                else if (item.IsThanhToanBangTienMat == false)
                                {
                                    <td>CK</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            @{
                                if (item.IsTaoMoi == true)
                                {
                                    <td>Tạo mới</td>
                                }
                                else
                                {
                                    <td>Duy trì</td>
                                }
                            }
                            <td>@item.SoNam năm</td>
                            <td>@String.Format("{0:0,0}", item.SoTien)</td>

                            @{
                                if (item.NgayThanhToan != null)
                                {
                                    <td>@(((DateTime)item.NgayThanhToan).ToString("dd/MM/yyyy"))</td>
                                }
                                else
                                {
                                    <td style="color: red">Chưa thanh toán</td>
                                }
                            }                     
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Số HD</th>
                    <th>Tên Trường</th>
                    <th>Cấp</th>
                    <th>Quận/Huyện</th>
                    <th>Ngày Kí</th>
                    <th>Ngày HL</th>
                    <th>HT TT</th>
                    <th>Loại HD</th>
                    <th>Số Tiền</th>
                    <th>Ngày Đóng</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    function downloadexcel() {
        window.location.href = '/quanly/downloadhopdong/@ViewBag.Year';
}
$(document).ready(function () {
    $('#danhsachhopdong').DataTable({
        "pageLength": 100,
        initComplete: function () {
            this.api().columns().every(function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo($(column.footer()).empty())
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search(val ? '^' + val + '$' : '', true, false)
                            .draw();
                    });

                column.data().unique().sort().each(function (d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>')
                });
            });
        }
    });
    $('.datepicker').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,

    });
})
</script>